<nav class="navbar navbar-default navbar-fixed-side">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Workouts <%= link_to "+", new_workout_url %></a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body"> sample workout. </div>
      </div>
    </div>
  </nav>
